.home--container {
  width: 100%;
}

.home--grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.home--gridTile {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 25px;
  borde-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.home--plantName {
  color: #ffffff;
  text-shadow: 3px 5px 2px #474747;
  text-transform: uppercase;
  text-align: center;
  overflow: hidden;
  margin: 30px 10px 0;
}

.home--tileMenu {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
}

.home--button {
  background-color: transparent;
  color: white;
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  background-color: #00796b;
}

/* HEAD
              <div>
                <Link to={`/plant/${plant.id}`}>
                  <div
                    key={plant.id}
                    style={{
                      backgroundImage: `url(${plant.plantURL})`,
                      backgroundRepeat: 'no-repeat',
                      backgroundSize: 'cover',
                      backgroundPosition: 'center',
                      margin: '20px 10px',
                      height: 300,
                      width: 300,
                      borderRadius: 10,
                      alignItems: 'center',
                      display: 'flex',
                      flexDirection: 'column',
                      justifyContent: 'space-between',
                    }}
                  >
                    <h1
                      style={{
                        color: 'white',
                        margin: '10 0',
                        padding: 0,
                        fontVariant: 'small-caps',
                        letterSpacing: '2px',
                        textOverflow: 'ellipsis',
                      }}
                    >
                      {plant.name}
                    </h1>

                    <div
                      style={{
                        marginBottom: 50,
                        display: 'flex',
                        justifyContent: 'space-between',
                      }}
                    >
                      <button
                        style={{
                          cursor: 'pointer',
                          background: 'none',
                          color: 'white',
                          fontVariant: 'uppercase',
                          marginRight: '20px',
                          display: 'block',
                          width: '100%',
                          border: '3px solid white',
                          padding: '10px 20px',
                          fontWeight: 'bold',
                        }}
                        onClick={e => this.handleUpdate(e, plant)}
                      >
                        UPDATE
                      </button>
                      <button
                        style={{
                          cursor: 'pointer',
                          background: 'none',
                          color: 'white',
                          fontVariant: 'uppercase',
                          margin: '0 10',
                          display: 'block',
                          width: '100%',
                          border: '3px solid white',
                          padding: '10px 20px',
                          fontWeight: 'bold',
                        }}
                        onClick={e => this.handleDelete(e, plant.id)}
                      >
                        DELETE
                      </button>
                    </div>
                  </div>
                </Link>
              </div>
======= */
